*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  overflow-y: scroll;
  color: $main-8;
  background-color: $main-1;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  @media (max-width: 45rem) {
    font-size: 14px;
  }
}

h1 {
  margin-top: 4rem;
  font-size: 2.5rem;  
  font-family: 'Black Ops One', cursive;
  font-weight: 500;
  // line-height: 1;    
}
h2 {
  margin-top: 2rem;
  font-size: 1.8rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.6rem;
}
h4 {
  margin-top: 1rem;
  padding-left: .5rem;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: .1ch;
}
h5 {
  margin: 3rem;
  height: 1px;
  background-color: $main-6;
}

p {
  margin-top: .5rem;
  font-size: 1rem;
}

a {
  color: currentColor;
  display: inline-block;
  text-decoration: none;
  transition: color 0.2s ease-in-out;

    &:hover {
      color: $acc;
    }
}

ul {
  list-style: none;

  li {
    margin-top: .5rem;
    margin-left: 1.5rem;
  }
}

pre {
  @include pre();
}

img {
  width: 100%;
  overflow: hidden;
  border: $border;
  border-radius: $border-radius;
}

.img {
 position: fixed;
 top: 0;
 bottom: 0;
 width: 100%;
 background-image: url(../images/590493.webp);
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
 z-index: -1;
}

