#home {
  @include btn(1rem, $main-1, $acc);
  @include glass($glass-txt, $glass-bg-acc);
  position: fixed;
  left: 5%;
  bottom: 5%;

  @media (min-width: $width-900) {
    opacity: 1;
  }
}

.hb {
  @include glass($glass-txt, $glass-bg);
  border: none;
  min-height: 100vh;
  padding-bottom: 10rem;
  animation: backfilter .5s forwards cubic-bezier(0.075, 0.82, 0.165, 1);

  a {
    padding: .2rem .4rem;
    color: $main-8;
    background-color: $link-bg;
    border-radius: $border-radius;
    transition: background-color .2s ease-in-out;

    &:hover {
      background-color: $info;
    }
  }

  .handbook {
    @include container($width-900);

    .handbook-head {
      padding: 0.5rem 0;

      p {

        span {
          display: block;
        }
      }
    }

    .handbook-body {

      div {

        p {
          span {
            margin: 1rem 0;
          
            a {
              img {
                overflow: hidden;
                border: $border;
                border-radius: $border-radius;
              }
            }
          }
        }
      }
    }
  }
}


@keyframes backfilter {
  from { backdrop-filter: blur(0px); }
  to { backdrop-filter: blur(18px); }
}