@mixin container($max-width) {
  width: 90%;
  max-width: $max-width;
  margin: 0 auto;
}

@mixin btn($padding, $color, $bg-color) {
  padding: $padding;
  color: $color;
  background: $bg-color;
  border: none;
  outline: none;
  box-shadow: $shadow-a;
  border-radius: $border-radius;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: filter .2s ease-in-out, opacity .2s ease-in-out;
  cursor: pointer;

  &:hover {
    filter: brightness(80%);
  }
}

@mixin pre {
  max-width: 100%;
  max-height: 30rem;
  margin-top: .5rem;
  border-radius: $border-radius;
  border: $border;
  overflow: scroll;

  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  &::-webkit-scrollbar-corner,
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $main-7;
    border-radius: 0.5rem;
    border: $border;
  }
}

@mixin glass($color, $bg) {
  border: 2px solid transparent;
  background-clip: padding-box;
  color: $color;
  background-color: $bg;
  backdrop-filter: $glass-blur;
}