
$main-0: hsla(0, 0, 2%, 1);
$main-1: hsla(0, 0, 12%, 1);
$main-2: hsla(0, 0, 22%, 1);
$main-3: hsla(0, 0, 32%, 1);
$main-4: hsla(0, 0, 42%, 1);
$main-5: hsla(0, 0, 52%, 1);
$main-6: hsla(0, 0, 62%, 1);
$main-7: hsla(0, 0, 72%, 1);
$main-8: hsla(0, 0, 82%, 1);
$main-9: hsla(0, 0, 92%, 1);


$glass-bg: hsla(0, 0%, 2%, .5);
$glass-bg-acc: hsla(124, 77%, 34%, .5);
$glass-txt: hsla(0, 0%, 92%, 1);
$glass-blur: blur(18px);


$acc: hsla(124, 77%, 34%, 1);
$danger: hsla(354, 73%, 36%, 1);
$info: hsla(214, 73%, 36%, 1);

$angular: #dd0031;
$angular: #c3002f;
$angular: hsla(346, 100%, 38%, .44);

$gatsby: #5468ff;
$gatsby: hsla(233, 100%, 66%, .44);

$go: #7fd5ea;
$go: hsla(192, 72%, 71%, .44);

$php: #4f5b93;
$php: #8892bf;
$php: hsla(229, 30%, 44%, .44);

$powershell: #0273b7;
$powershell: hsla(203, 98%, 36%, .44);

$python: #3776ab;
$python: hsla(207, 51%, 44%, .44);

$typescript: #3178c6;
$typescript: hsla(211, 60%, 48%, .44);

$sass: #bf4080;
$sass: hsla(330, 50%, 50%, .44);

$vanillajs: #f7e018;
$vanillajs: hsla(54, 93%, 53%, .44);


$shadow-a: 0 1px 2px rgba(0,0,0,0.07), 
					0 2px 4px rgba(0,0,0,0.07), 
					0 4px 8px rgba(0,0,0,0.07), 
					0 8px 16px rgba(0,0,0,0.07),
					0 16px 32px rgba(0,0,0,0.07), 
          0 32px 64px rgba(0,0,0,0.07);
          
$border: 1px solid $main-3;
$border-radius: 6px;

$width-100: 100%;
$width-900: 900px; 

$pre-color: rgb(245, 245, 245);
$pre-bg: rgb(53, 53, 58);