@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

$bg: hsla(174, 39%, 85%, 1);
$bg-code: hsla(174, 39%, 79%, 1);
$text: hsla(174, 44%, 4%, 1);
$acc: hsla(174, 47%, 34%, 1);

$shadow-a: 0 1px 2px rgba(0,0,0,0.03), 
					0 2px 4px rgba(0,0,0,0.03), 
					0 4px 8px rgba(0,0,0,0.03), 
					0 8px 16px rgba(0,0,0,0.03),
					0 16px 32px rgba(0,0,0,0.03), 
          0 32px 64px rgba(0,0,0,0.03);
          
$border: 1px solid rgba(0,0,0,0.4);
$border-radius: 6px;

@mixin container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  
  
  overflow-y: scroll;
  color: $text;
  background-color: $bg;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  @media (max-width: 45rem) {
    font-size: 14px;
  }
}


a {
  color: currentColor;
  display: inline-block;
  text-decoration: none;
  transition: color 0.2s ease-in-out;

    &:hover {
      color: $acc;
    }
}
ul {
  list-style: none;
}
pre {
  max-width: 100%;
  max-height: 15rem;
  padding: .7rem;
  background-color: $bg-code;
  border-radius: $border-radius;
  border: $border;
  white-space: break-spaces;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  &::-webkit-scrollbar-corner,
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $bg-code;
    border-radius: 0.5rem;
    border: $border;
  }
}
img {
  width: 100%;
  overflow: hidden;
  border: $border;
  border-radius: $border-radius;
}



.layout {
   width: 100%;
   min-height: 100vh;
   display: grid;
   grid-template-rows: auto 1fr auto;
}
.spacing > * + * {
  margin-top: 1rem;
}



.img {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 45%;
	background-image: url(../images/590493.webp);
	background-size: cover;
	background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;

	@media (max-width: 50rem) {
		width: 100%;
	}
}




header {
  background-color: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(2rem);
  border-bottom: 2px solid transparent;
  background-clip: padding-box;

  nav {  
    @include container();
    .logo {

      a {
        padding: 1rem 0;
        text-decoration: none;
        font-family: 'Black Ops One', cursive;
        letter-spacing: 0.1ch;
      }
    }
  }
}



main {

  .intro {
    @include container();

    .posts {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      gap: 1rem;
      padding: 1rem 0;
  
      .post {
        padding: 1rem;
        // color: currentColor;
        background-color: rgba(255, 255, 255, 0.45);
        backdrop-filter: blur(2rem);
        border: 2px solid transparent;
        background-clip: padding-box;
        border-radius: .5rem;
        box-shadow: $shadow-a;
        text-align: center;
        z-index: 1;
        transition: all 0.15s ease;
  
        .post-title {
          text-transform: uppercase;
          font-family: 'Black Ops One', cursive;
          font-weight: 500;
          font-size: 1.4rem;
          letter-spacing: 0.1ch;
        }
        .post-category {
          font-size: 1.2rem;
        }
  
        &:hover {
          // color: $blue;
        }
      }
    }
  }
  
  .hb {
    min-height: 100%;
    padding-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(2rem);

    .handbook {
      @include container();
  
      .handbook-head {
        padding: 0.5rem 0;
  
        h1 {
          line-height: 1;
          font-family: 'Black Ops One', cursive;
        }
        h4 {
          font-weight: 400;
        }
      }
  
      .handbook-body {
  
        div {
          a { padding: 0.5rem; }
          h1 { margin-top: 1.5rem; }
          h2 { margin-top: 1rem; }
          h3 { margin-top: .75rem; }
          p { margin-top: .5rem; }
          pre { margin-top: .25rem; }
          p {
            span { margin: 1rem 0; }
          }
          p {
            span {
              a {
                img {
                  overflow: hidden;
                  border: $border;
                  border-radius: $border-radius;
                }
              }
            }
          }
        }
      }
    }
  }
}




footer {
  background-color: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(2rem);
  border-top: 2px solid transparent;
  background-clip: padding-box;

  nav {
    @include container();

    a {
      padding: 1rem 0;
    }
  }
}

